@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@700&display=swap");

:root {
  --main-bg-color: #a68dad;
  --accent: #c7b198;
  --accent-hover: #dfd3c3;
  --content-bg: #f0ece3;
}

body {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.material-icons {
  font-size: 2.1rem;
  vertical-align: middle;
  margin-right: 20px;
}

.container {
  display: grid;
  grid-template-columns: minmax(265px, 18%) 1fr;
  height: 100vh;
}

.sidebar {
  background-color: var(--main-bg-color);
  color: #fff;
}

.sidebar h1 {
  font-size: 1.8rem;
}

.h1-wrapper {
  display: flex;
  margin: 40px 0 70px 24px;
  justify-content: flex-start;
  align-items: center;
}

.h1-wrapper .material-icons {
  font-size: 2.6rem;
  margin-right: 11px;
}

.primary-nav,
.secondary-nav {
  margin-left: 30px;
  font-size: 1rem;
}

.primary-nav li,
.secondary-nav li {
  margin-bottom: 0.8rem;
  align-items: center;
  cursor: pointer;
  color: #e7e7e7;
  transition: 350ms;
}

.primary-nav li:hover,
.secondary-nav li:hover {
  color: #fff;
  transform: translateX(3px);
}

.primary-nav li:last-child {
  margin-bottom: 70px;
}

.main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fff;
  box-shadow: 0px 1px 8px var(--accent);
}

.search-bar {
  align-self: center;
  justify-self: end;
}

.search-bar .material-icons {
  font-size: 1.2rem;
  color: var(--accent);
  vertical-align: middle;
}

.search_input {
  font-size: 1.3rem;
  padding-left: 10px;
  padding-block: 6px;
  width: 500px;
  height: 25px;
  border-radius: 50px;
  background-color: #e7e7e7;
  border: 0;
}

.search_input:focus-visible {
  outline: var(--accent) 3px solid;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.greeting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.greeting small {
  display: inline-block;
  margin-bottom: 10px;
}

.greeting p {
  font-size: 1.2rem;
  font-weight: 600;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info .material-icons {
  margin-right: 0;
}

.user-info p {
  font-size: 1.2rem;
  font-weight: 600;
}

.avatar {
  width: 50px;
  height: auto;
  margin-inline: 5rem;
}

.greeting .avatar {
  width: 65px;
}

.btn {
  border-radius: 20px;
  width: 120px;
  height: 40px;
  background-color: var(--accent);
  color: rgb(255, 255, 255);
  transition: 350ms;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: var(--accent-hover);
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--content-bg);
}

.projects {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 50px 200px 1fr;
  gap: 10px;
  align-items: center;
  justify-content: end;
  justify-items: center;
}

.projects h2 {
  grid-column: 1 / span 2;
  font-size: 1.3rem;
  align-self: start;
  justify-self: left;
  margin-left: 20px;
  margin-top: 20px;
}

.card {
  background-color: var(--content-bg);
  padding: 15px 10px;
  border-radius: 10px;
  margin: 20px 10px 20px 30px;
  border-left: var(--main-bg-color) 10px solid;
  transition: 300ms;
  align-self: start;
}

.card:hover {
  transform: scale(1.01);
  background-color: #e4dfd3;
  cursor: pointer;
}

.card-title {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.card-body {
  color: rgb(104, 104, 104);
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 1rem;
}

.feeds {
  background-color: #f6f6f6;
}

.announcements h2,
.trending h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 20px 30px;
}

.announcement-feed,
.trending-feed {
  background-color: var(--content-bg);
  margin: 38px 15px 20px 30px;
  width: 180px;
  padding: 20px 10px;
  border-radius: 10px;
}

.announce-item {
  padding-inline: 10px;
}

.announce-heading {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.announce-body {
  color: #868686;
  font-size: 0.8rem;
}

hr {
  margin: 16px;
}

.trending h2 {
  margin-top: 40px;
}

.trending-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  margin-bottom: 20px;
}

.trending img {
  width: 50px;
  grid-row: 1 / span 2;
}

.trending-text {
  align-self: center;
  justify-self: left;
  color: #868686;
  font-size: 0.8rem;
}

.handle {
  justify-self: left;
  align-self: end;
  margin-bottom: 0px;
  color: black;
  font-weight: 600;
}
